.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: white !important;
    background: linear-gradient(180deg, rgb(33, 185, 196) 0%, rgba(0,43,96,1) 100%) !important;
}

.nav{
    --bs-nav-link-color: black !important;
    --bs-nav-link-hover-color: black !important ;
}

@media only screen and (min-width: 426px) {
    .padding-top-15vh{
        padding-top: 15vh !important;
    }
}
@media only screen and (max-width: 425px) {
    .padding-top-15vh{
        padding-top: 13vh !important;
    }

    /* a.nav-link.active{
       display: block !important;
    }       
    a.nav-link {
        display: none;
    } */
}



